<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="connStr" connectionString="Server=HOANGGIAPC\SQLEXPRESS;Database=VanChuyenKhach;Integrated Security=True" />
  <add name="QuanLyChoThueXe_Nhom08.Properties.Settings.VanChuyenKhachConnectionString"
   connectionString="Data Source=NGBATRUONG;Initial Catalog=VanChuyenKhach;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>